@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2 mb-2" ng-controller="ArticleController">

    <div class="col-md-12 text-center">
        <img src="https://localhost:7071/{{article.fileName}}" ng-show="article.fileName!=''" style="max-width:100%; height:350px;" />
        <img src="https://localhost:7071/nullBanner.jpg" style="max-width:100%; height:350px;" ng-show="article.fileName==''" />
    </div>

    <div class="col-md-12 mt-3 mb-3 text-center">
        <h1>{{article.title}}</h1>
    </div>

    <div class="col-md-12 mb-3" ng-bind-html="trustAsHtml(article.content)">
       
    </div>

    <div class="col-md-12 pt-5">

        <div class="row">
            <div class="col-md-8">
                <h4>Yorumlar</h4>

                <div class="col-md-12 pt-2" ng-repeat="comment in article.comments">
                    <p>{{comment.content}}</p>
                    <hr />
                </div>


            </div>

            <div class="col-md-4">
                <h4>Yeni Yorum Yap</h4>
                <div class="col-md-12 pt-2">
                    <div class="form-group">
                        <label>Yorumunuzu Giriniz:</label>
                        <textarea rows="5" class="form-control" ng-model="addComment.content"></textarea>
                    </div>
                    <div class="form-group pt-2">
                        <a class="btn btn-primary" ng-click="AddComment()">GÖNDER</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

@section Scripts{
    <script src="~/page/article.js"></script>
}
